# Auto detect text files and perform LF normalization
* text=auto
d:\Delta\project\Simon Game\simon .css d:\Delta\project\Simon Game\simon .js d:\Delta\project\Simon Game\Simon Game.htmld:\Delta\project\Simon Game\simon .css d:\Delta\project\Simon Game\simon .js d:\Delta\project\Simon Game\Simon Game.html